<div class="container-fluid">
  <div class="d-flex nav-head">
    <div class="nav-head-img flex-grow-1">
      <img class="mr-3 rounded-circle p-2 " [src]="userAvatar" alt="Avatar image">
    </div>

    <div class="nav-head-icons">
      <i class="far fa-comment-alt fa-2x m-2"></i>
      <i class="fas fa-ellipsis-v fa-2x m-2"></i>

    </div>
  </div>
  <div>
    <div class="input-group my-1">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-search"></i></div>
      </div>
      <input type="text" class="form-control" placeholder="Search or Start a new Chat">
    </div>
  </div>
  <div class="chat-list">
    <ul class="list-group">
      <li class="list-group-item row d-flex justify-content-between align-items-center " *ngFor="let chat of details">
        <div class="col-3"><i class="fas fa-user-circle fa-2x"></i></div>
        <div class="col-6 chat-display">
          <p class=" text-left chat-display-user"> {{chat.username}} </p> <br>
          <small class="chat-display-msg"><i class="fas fa-check"></i><span class="p-1">{{
              chat.message}}
            </span></small>
        </div>
        <div class="col-3 chat-meta text-right">
          <small class=" time-slot font-weight-normal"> {{chat.time}} </small> <br>
          <span *ngIf="chat.unreadCount" class="badge badge-success rounded-circle"> {{chat?.unreadCount}} </span>
        </div>

      </li>
    </ul>
  </div>
</div>
