/* You can add global styles to this file, and also import other style files */
.nav-head {
  height: 50px;
  background-color: #eeeeee;
}

.input-group-text {
  background-color: #eeeeee;
}
.list-group-item {
  padding: 0.5rem 0.2rem;
  &.row {
    margin-left: 0;
    margin-right: 0;
    .list-group-item {
      padding: 0;
    }
  }
}
.chat-display {
  line-height: 0.8rem;
  .chat-display-user {
    padding: 0;
    margin: 0;
    .chat-display-msg {
      padding: 0;
      margin: 0;
    }
  }
}
