/* You can add global styles to this file, and also import other style files */
body {
  background-color: #d9dbd5;
  overflow: hidden;
}
.green-bg {
  background-color: #009788;
  height: 10vh;
  //top: 0;
  //position: absolute;
  z-index: -1;
}
.app {
  z-index: 1;
}
.nav-head {
  height: 59px;
  background-color: #eeeeee;
}

.input-group-text {
  background-color: #eeeeee;
}
.chat-list-group {
  // display: flex;
  // flex-direction: column;
  // flex-grow: 1;
  overflow-y: scroll;
  // z-index: 1;
  height: 500px;
}
.list-group-item {
  padding: 0.5rem 0.2rem;
  height: 79px;
  &.row {
    margin-left: 0;
    margin-right: 0;
    .list-group-item {
      padding: 0;
    }
  }
}
.chat-display {
  // border-top: 1px solid #f2f2f2;
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.8rem;
  // .chat-display-user {
  //   padding: 0;
  //   margin: 0;
  //   .chat-display-msg {
  //     padding: 0;
  //     margin: 0;
  //   }
  // }
}
.badge-success {
  background-color: #25d366;
}
// chat items css
.chat-container {
  height: calc(100% - 1rem);
  background-color: #ece5dd;
}

// chat input box
.msg-input-container {
  background-color: #f7f4f4;
  height: 45px;
}

.conversation-compose {
  background-color: #f7f4f4;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
  .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    position: relative;
    outline: none;
  }
}
// conversation css
.conversation {
  height: calc(100% - 26px);
  position: relative;
  background: #efe7dd
    url('https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg')
    repeat;
  z-index: 0;
  .conversation-container {
    height: calc(100% - 68px);
    box-shadow: inset 0 10px 10px -10px #000000;
    overflow-x: hidden;
    padding: 0 16px;
    margin-bottom: 5px;
  }
}

/* Messages */

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
}

.message:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  display: inline-block;
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}
.tick-bg {
  color: #4fc3f7;
}
.user-avatar-pd {
  padding: 0 15px 0 13px;
}
.chat-display-user-container {
  display: flex;
  flex-direction: row;
  height: 72px;
  pointer-events: all;
  position: relative;
}
.chat-display-user-avatar {
  flex: none;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 49px;
  width: 49px;
}
.chat-display-user-info {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chat-display-user {
  align-items: center;
  line-height: normal;
  display: flex;
}
.chat-display-user-name {
  flex-grow: 1;
  display: inherit;
  white-space: inherit;
  text-overflow: inherit;
  overflow: inherit;
  text-transform: capitalize;
}
.chat-display-user-time {
  color: rgba(0, 0, 0, 0.4);
  flex: none;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  line-height: 14px;
}
.chat-display-user-meta {
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  font-size: 13px;
  line-height: 20px;
  min-height: 20px;
}
.chat-display-user-msg {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.chat-display-user-unread {
  color: rgba(0, 0, 0, 0.4);
  flex: none;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
}
.svg-inline--fa.fa-w-16 {
  width: auto;
}
